<body>
    <h3>1. 반복문</h3>
    {% for menu in my_list %}
    <p>{{ menu }}</p>
    {% endfor %}
    
    
    <hr>
    {% for menu in my_list %}
    {{ forloop.counter }}
        {% if forloop.first %}
            <p> 조미유 + 고춧가루 </p>
        {% else %}
            <p>{{ menu }}</p>
        {% endif %}
    {% endfor %}
    
    <hr>
    <h4> 반복문 empty </h4>
    {% for menu in empty_list %}
    <p>menu<p>
    {% empty %}
    <p>값이 없습니다.</p>
    {% endfor %}
    
    
    <hr>
    <h3> 2. 조건문 </h3>
    {% if '짜장면' in my_list %}
    <p> 조미유 </p>
    {% endif %}
    
    <hr>
    
    <h3>3. length filter 활용</h3>
    {% for message in messages%}
        {% if message|length > 5 %}
        <p>글씨가 너무 길어요.</p>
        {% else %}
            <p>{{ message }}, {{ message|length }}</p>
        {% endif %}
    {% endfor %}
    </body>
    
    
    <hr>
    
    <h3>4. lorem ipsum</h3>
    {% lorem %}
    <hr>

    {% lorem 3 w random %}
    
    <hr>
    
    {% lorem 3 p %}
    
    
    
    <h3>5. 글자수 제한</h3>
    <p>{{ my_sentence|truncatewords:3 }}</p>
    <p>{{ my_sentence|truncatechars:5 }}</p>
    <p>{{ my_sentence|truncatewords:3 }}</p>
    
    <hr>
    <h3>6. 글자관련 filter</h3>
    <p>{{ 'abc'|length}}</p>
    <p>{{ 'ABC'|lower}}</p>
    <p>{{ my_sentence|title}}</p>
    <p>{{ 'ab'|capfirst}}</p>
    <p>{{ 'abc'|random}}</p>
    
    
    <hr>
    <h3>7. 연산</h3>
    <p>{{ 4|add:6 }}</p>
    
    
    
    <hr>
    <h3>8. 날짜 표현</h3>
    {% now "DATETIME_FORMAT" %} <br>
    {% now "SHORT_DATETIME_FORMAT" %} <br>
    {% now "DATE_FORMAT" %} <br>
    {% now "SHORT_DATE_FORMAT" %} <br>
    
    <hr>
    
    {% now "Y년 m월 d일 (D) h:i" %}
    <p></p>
    
    <hr>
    
    {% now "Y" as current_year %}
    Copyright{{ current_year }}
    
    <hr>
    {{ datetime_now }} <br>
    {{ datetime_now|date:"SHORT_DATETIME_FORMAT" }} <br>
    
    
    
    <hr>
    <h3>9. 기타</h3>
    {{ 'google.com'|urlize }}
    
    
    
    
    
   
   
    
    
    