{% extends 'base.html' %}

{% block title %} INDEX {% endblock %}

{% block body %}
    <h3> <a href="bye/">우리 헤어지는 시간 출력하기</a> </h3>
    <h3> <a href="graduation/">우리 1학기 졸업시간까지 남은 날짜 출력하기</a> </h3>
    <h3> <a href="imagepick/">Lorem Picsum 활용하여 랜덤 이미지 출력하기기</a> </h3>
    <h3> <a href="today/">오늘 시간 및 날씨 정보 알려주기</a> </h3>
    <h3> <a href="ascii_new/">ascii art를 변환을 위한 text, font 입력받기</a> </h3>
    <h3> <a href="ascii_make/">artii를 활용하여 art로 만들어서 출력해주기</a> </h3>
    <h3> <a href="original/">영어 번역을 위한 한국어 입력받기</a> </h3>
    <h3> <a href="translated/">papago 활용하여 한-영 번역 해주기</a> </h3>
{% endblock %}